{% extends "base_generic.html" %} {% block content %}

<form method="post" action="{% url 'initialize_create_flow' %}">
  {% csrf_token %}
  <div>
    <p>Test initialize_create_flow</p>
    <input type="text" name="user_id" />
    <input type="submit" />
  </div>

</form>

<form method="get" action="{% url 'date' %}">
  {% csrf_token %}
  <div>
    <p>Test get date</p>
    <input type="text" name="date_id" />
    <input type="submit" />
  </div>

</form>

<form method="post" enctype="multipart/form-data" action="{% url 'upload_date_hero_img' %}">
  {% csrf_token %}
  <div>
    <p>Test img upload</p>
    <input type="file" name="date_img">
    <input type="text" name="user_id">
    <label>date id</label>
    <input type="text" name="date_id">
    <button type="submit">Upload</button>
  </div>
</form>

<form method="post" action="{% url 'node' %}">
  {% csrf_token %}
  <label for="date_id">date_id</label>
  <input type="text" name="date_id">
  <label for="order_num">order_numb</label>
  <input type="number" name="order_num">
  <label for="node_type">node_type</label>
  <input type="node_type" name="node_type">
  <label for="address">address</label>
  <input type="address" name="address">
  <label for="user_id">user_id</label>
  <input type="user_id" name="user_id">
  <button type="submit">Upload</button>
</form>


{% endblock %}
